body{
    background: rgba(255, 199, 207, 0.667);
}

h1{
    margin-top: 100px;
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2{
    color: green;
    text-align: center;
}
p{
    width: 70%;
    text-align: justify;
    font-size: 20px;
    margin-left: 220px;
}

button{
    margin-left: 680px;
    margin-top: 50px;
    width: 180px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: lightblue;
    color: red;
    font-size: 15px;
}
button:hover{
    background: yellow;
    transition: 1s;
}
